@keyframes change {
    0%{background-color:red;}
    33%{background-color:green;}
    66%{background-color:blue;}
    100%{background-color:red;}
}

div{
    width:25vw;
    height:25vw;
    background-color: red;
}

div:hover{

    animation-name: change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}